@import "tailwindcss";

:root {
  --white: #fff;
  --primary: #e63946;
  --accent: #ff5d8f;
  --background: #faf3f3;
  --text: #333333;
  --secondary: #ffe2e7;
}

@theme inline {
  --color-white: var(--white);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-text: var(--text);
  --color-secondary: var(--secondary);
}

@layer components {
  .button {
    cursor: pointer;
    display: flex;
    color: var(--color-white);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    background-color: var(--color-accent);
    transition: background-color 0.3s;
    justify-content: center;
    align-items: center;
  }
  .button-outline {
    cursor: pointer;
    display: flex;
    color: var(--color-accent);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: 2px solid var(--color-accent);
    transition: background-color 0.3s;
  }
  .button:hover {
    background-color: color-mix(in oklab, var(--accent) 90%, transparent);
  }
  .loader {
    background-color: var(--color-gray-200);
    border-radius: var(--radius-md);
  }
  .week-grid {
    grid-template-columns: max(450px) 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #000;
    --primary: #ff5d8f; /* Accent color in light theme becomes primary in dark theme */
    --accent: #e63946; /* Primary color in light theme becomes accent in dark theme */
    --background: #2b2b2b; /* Dark background color for better contrast */
    --text: #f5f5f5; /* Light text color for readability */
    --secondary: #8a3d55; /* Keep the secondary color for vibrancy */
  }
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-montserrat);
}
